.cooperation-map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 362px;
  width: 100%;

  @media (min-resolution: 144dpi) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 400px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");
    height: 400px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.cooperation-map iframe {
  width: 100%;
  height: 100%;
}
