@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

body {
  min-width: 320px;
  font-family: "Oswald", "Helvetica", sans-serif;
}

.text-font {
  font-family: "Arial", "Helvetica", sans-serif;
}

.container {
  width: 280px;
  padding: 0 20px;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: auto;
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1220px;
    padding: 0 110px;
  }
}

// .container-catalog {
//   width: 320px;
//   padding: 0 20px;
//   margin: auto;

//   @media (min-width: $tablet-width) {
//     margin: auto;
//     width: 708px;
//     padding: 0 30px;
//   }

//   @media (min-width: $desktop-width) {
//     margin: auto;
//     width: 1220px;
//     padding: 0 110px;
//   }

// }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-closed {
  position: absolute;
  opacity: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    opacity: 1;
  }
}

.menu-opened {
  position: relative;
  opacity: 1;
  transition: 1.2s;
}

.header-menu__toggle-close {
  display: block;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 16px;
}

.header-menu__toggle-open {
  display: block;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}

.no-js {
  display: none;
}

.catalog-and-form {
  background-color: #f2f2f2;
}
